In [ ]:
"""
What is Tensorflow?

It's an open source Deep Learning library released by Google. It provides the ability to define functions on tensors.
A tensor is a multilinear map from vector spaces to the real number. It's a multidimensional array of numbers.

"""

In [1]:
# let's import tensorflow as tf
import tensorflow as tf

In [1]:
# let's look at tensorflow data types

In [5]:
# constants in tensorflow are variables that contain fixed values given on their creation
V1 = tf.constant([1.,2.])
# you can also pass explicit names 
V2 = tf.constant([3.,4.], name='const_V2')

In [6]:
# name arguments are useful if you want to save your variables to a binary file
# they are also used in TensorBoard, a visual representation of Tensorflow calculations (we will get to it later)

In [7]:
# these types produce tensors, tensor is a typed multy-dimensional array
print(V1)
print(V2)

Tensor("Const:0", shape=(2,), dtype=float32)
Tensor("const_V2:0", shape=(2,), dtype=float32)

In [8]:
# you can then conduct various operations on your tensors
V3 = V1 + V2
V4 = V1 * V2
print(V3)
print(V4)

Tensor("add:0", shape=(2,), dtype=float32)
Tensor("mul:0", shape=(2,), dtype=float32)

In [9]:
# the results won't be calculated, you need to call .eval() first
V3.eval()
V4.eval()

ValueError: Cannot evaluate tensor using `eval()`: No default session is registered. Use `with sess.as_default()` or pass an explicit session to `eval(session=sess)`

In [10]:
# that didn't work, all operations are evaluated within sessions
# let's create a session first
sess = tf.Session()

In [11]:
V3 = V1 + V2
print(V3)
V4 = V1 * V2
print(V4)

Tensor("add_1:0", shape=(2,), dtype=float32)
Tensor("mul_1:0", shape=(2,), dtype=float32)

In [12]:
V3.eval(session=sess)

array([ 4.,  6.], dtype=float32)

In [13]:
V4.eval(session=sess)

array([ 3.,  8.], dtype=float32)

In [14]:
# close the session
sess.close()

In [15]:
# interactive sessions can save you a lot of time
sess = tf.InteractiveSession()

In [16]:
V3 = V1 + V2
V4 = V1 * V2

In [17]:
# now we don't need to care about passing sessions
V3.eval()

array([ 4.,  6.], dtype=float32)

In [18]:
# working with placeholders
import numpy as np
# basically, we define the size and what the input type is
# at run time we initialize placeholders with data
x = tf.placeholder(tf.float32, shape=(1024, 1024))
y = tf.matmul(x, x)

In [19]:
# create a random array
rand_array = np.random.rand(1024, 1024)

In [20]:
# feed x with values
# this can only be done within sess.run(), the values are fed with "feed_dict" argument
print(sess.run(y, feed_dict={x: rand_array}))

[[ 254.09716797  247.88801575  254.52276611 ...,  261.5848999   255.67315674
   255.39112854]
 [ 250.11578369  251.37139893  255.15646362 ...,  259.06921387
   253.17379761  250.46192932]
 [ 249.11831665  250.2061615   254.80471802 ...,  252.65379333
   245.43525696  256.53482056]
 ...,
 [ 253.9072113   250.64958191  251.12947083 ...,  256.73382568
   255.12088013  253.43313599]
 [ 246.02236938  244.79321289  252.03427124 ...,  251.02786255
   246.66542053  241.8664856 ]
 [ 246.4881134   249.84683228  251.52076721 ...,  257.9914856   249.4393158
   247.25868225]]

In [21]:
# another data type in Tensorflow in tf.Variable
# these are not constant, the values can be changed using .assign() method
w = tf.Variable([1.,3.], name='variable_w')

In [22]:
w.assign(w + 1.1)  # or w.assign_add(.1)

In [1]:
# now how do I get the value of w?

In [1]:
# we would need to initialize our w Variable for it to be used in our computations

In [25]:
# let's launch the graph in a session
with tf.Session() as sess:
    sess.run(w.initializer)
    print(w.eval())

[ 1.  3.]

In [26]:
# our w wasn't changed even though we called .assign() on it
# it needs to be initialized before we assign new values to it
with tf.Session() as sess:
    sess.run(w.initializer)
    print(w.assign(w + .1).eval())
    print(w.eval())

[ 1.10000002  3.0999999 ]
[ 1.10000002  3.0999999 ]

In [27]:
# what if we have multiple variables, do we have to initialize each of them?
w = tf.Variable([1.,3.], name='variable_1')
w2 = tf.Variable([2.,4.], name='variable_2')

In [28]:
# of course not, we can add an operation to initialize all variables we might have
init_op = tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init_op)
    print(w.eval())
    print(w2.eval())

[ 1.  3.]
[ 2.  4.]

In [29]:
# let's start a new session
sess = tf.InteractiveSession()

In [30]:
# Python tensorflow, has all the same caveats Python has
a = tf.constant(23)
b = tf.constant(11)
c = tf.div(a,b)

In [31]:
# what will this evaluate to?
c.eval()

2

In [32]:
# use truediv instead
c = tf.truediv(a,b)
c.eval()

2.0909090909090908

In [33]:
# The computations in Tensorflow are saved as Directed graphs

In [43]:
from IPython.display import Image
Image(url='https://www.tensorflow.org/images/tensors_flowing.gif')

In [44]:
# to visualize your graphs, you can use TensorBoard
# the name arguments are used here to help you identify your variables
# and this helps you take a more detailed look into the computations your Deep Learning model is going through

In [45]:
from IPython.display import Image
Image(url='https://www.tensorflow.org/images/graph_vis_animation.gif')

In [46]:
# you can define your values within scopes, to help declutter the visualization
# in TensorBoard all underlying variables will be collapsed under 'hidden' node label
with tf.name_scope('hidden') as scope:
  a = tf.constant(5, name='alpha')
  W = tf.Variable(tf.random_uniform([1, 2], -1.0, 1.0), name='weights')
  b = tf.Variable(tf.zeros([1]), name='biases')

In [47]:
# to start your TensorBoard, you would first need to dump your data to disk
writer = tf.summary.FileWriter("/tmp")
writer.add_graph(sess.graph)

In [48]:
# then run tensorboard from the terminal
# tensorboard --logdir /tmp

In [49]:
# but why not visualize it directly in our Jupyter Notebook?

In [5]:
# let's use this hacky way to do it!
# courtesy of Deepdream 
# https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/deepdream/deepdream.ipynb

from IPython.display import clear_output, Image, display, HTML

def strip_consts(graph_def, max_const_size=32):
    """Strip large constant values from graph_def."""
    strip_def = tf.GraphDef()
    for n0 in graph_def.node:
        n = strip_def.node.add() 
        n.MergeFrom(n0)
        if n.op == 'Const':
            tensor = n.attr['value'].tensor
            size = len(tensor.tensor_content)
            if size > max_const_size:
                tensor.tensor_content = "<stripped %d bytes>"%size
    return strip_def

def show_graph(graph_def, max_const_size=32):
    """Visualize TensorFlow graph."""
    if hasattr(graph_def, 'as_graph_def'):
        graph_def = graph_def.as_graph_def()
    strip_def = strip_consts(graph_def, max_const_size=max_const_size)
    code = """
        <script>
          function load() {{
            document.getElementById("{id}").pbtxt = {data};
          }}
        </script>
        <link rel="import" href="https://tensorboard.appspot.com/tf-graph-basic.build.html" onload=load()>
        <div style="height:600px">
          <tf-graph-basic id="{id}"></tf-graph-basic>
        </div>
    """.format(data=repr(str(strip_def)), id='graph'+str(np.random.rand()))

    iframe = """
        <iframe seamless style="width:1200px;height:620px;border:0" srcdoc="{}"></iframe>
    """.format(code.replace('"', '&quot;'))
    display(HTML(iframe))

In [6]:
# let's see what graphs we have logged today so far
# our hidden scope has been created and we can open it to look what's inside
show_graph(tf.get_default_graph().as_graph_def())

NameError: name 'tf' is not defined

In [55]:
# let's look at a high level abstraction library tflearn
# pip install tflearn

In [1]:
# simple linear regression example
import tflearn
from __future__ import absolute_import, division, print_function
# Regression data
X = [3.3,4.4,5.5,6.71,6.93,4.168,9.779,6.182,7.59,2.167,7.042,10.791,5.313,7.997,5.654,9.27,3.1]
Y = [1.7,2.76,2.09,3.19,1.694,1.573,3.366,2.596,2.53,1.221,2.827,3.465,1.65,2.904,2.42,2.94,1.3]

# Linear Regression graph
input_ = tflearn.input_data(shape=[None])
linear = tflearn.single_unit(input_)
regression = tflearn.regression(linear, optimizer='sgd', loss='mean_square',
                                metric='R2', learning_rate=0.01)
m = tflearn.DNN(regression)
m.fit(X, Y, n_epoch=1000, show_metric=True, snapshot_epoch=False)

print("\nRegression result:")
print("Y = " + str(m.get_weights(linear.W)) +
      "*X + " + str(m.get_weights(linear.b)))

Training Step: 1000  | total loss: 0.15429 | time: 0.001s
| SGD | epoch: 1000 | loss: 0.15429 - R2: 0.9731 -- iter: 17/17

Regression result:
Y = [ 0.2597146]*X + [ 0.74151999]

In [2]:
print("\nTest prediction for x = 3.2, 3.3, 3.4:")
print(m.predict([3.2, 3.3, 3.4]))

Test prediction for x = 3.2, 3.3, 3.4:
[ 1.5726068   1.59857821  1.62454963]

In [3]:
# another example with Titanic Dataset from Kaggle

In [1]:
# http://tflearn.org/tutorials/quickstart.html
import numpy as np
import tflearn
# make sure you have pandas=0.19.2 in your virtual environment for this example to work
# conda install pandas=0.19.2

# Download the Titanic dataset
from tflearn.datasets import titanic
titanic.download_dataset('titanic_dataset.csv')

# Load CSV file, indicate that the first column represents labels
from tflearn.data_utils import load_csv
data, labels = load_csv('titanic_dataset.csv', target_column=0,
                        categorical_labels=True, n_classes=2)

# let's look at the data

# print column names
print(" class |", " name |", " sex |", " age |", " # of siblings on board |", " # of parents/children on board |", " ticket # |", " fare |")
# print data rows
for element in data:
    print(element)

hdf5 is not supported on this machine (please install/reinstall h5py for optimal experience)
 class |  name |  sex |  age |  # of siblings on board |  # of parents/children on board |  ticket # |  fare |
['1', 'Allen, Miss. Elisabeth Walton', 'female', '29', '0', '0', '24160', '211.3375']
['1', 'Allison, Master. Hudson Trevor', 'male', '0.9167', '1', '2', '113781', '151.5500']
['1', 'Allison, Miss. Helen Loraine', 'female', '2', '1', '2', '113781', '151.5500']
['1', 'Allison, Mr. Hudson Joshua Creighton', 'male', '30', '1', '2', '113781', '151.5500']
['1', 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'female', '25', '1', '2', '113781', '151.5500']
['1', 'Anderson, Mr. Harry', 'male', '48', '0', '0', '19952', '26.5500']
['1', 'Andrews, Miss. Kornelia Theodosia', 'female', '63', '1', '0', '13502', '77.9583']
['1', 'Andrews, Mr. Thomas Jr', 'male', '39', '0', '0', '112050', '0.0000']
['1', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'female', '53', '2', '0', '11769', '51.4792']
['1', 'Artagaveytia, Mr. Ramon', 'male', '71', '0', '0', 'PC 17609', '49.5042']
['1', 'Astor, Col. John Jacob', 'male', '47', '1', '0', 'PC 17757', '227.5250']
['1', 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)', 'female', '18', '1', '0', 'PC 17757', '227.5250']
['1', 'Aubart, Mme. Leontine Pauline', 'female', '24', '0', '0', 'PC 17477', '69.3000']
['1', 'Barber, Miss. Ellen "Nellie"', 'female', '26', '0', '0', '19877', '78.8500']
['1', 'Barkworth, Mr. Algernon Henry Wilson', 'male', '80', '0', '0', '27042', '30.0000']
['1', 'Baumann, Mr. John D', 'male', '0', '0', '0', 'PC 17318', '25.9250']
['1', 'Baxter, Mr. Quigg Edmond', 'male', '24', '0', '1', 'PC 17558', '247.5208']
['1', 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'female', '50', '0', '1', 'PC 17558', '247.5208']
['1', 'Bazzani, Miss. Albina', 'female', '32', '0', '0', '11813', '76.2917']
['1', 'Beattie, Mr. Thomson', 'male', '36', '0', '0', '13050', '75.2417']
['1', 'Beckwith, Mr. Richard Leonard', 'male', '37', '1', '1', '11751', '52.5542']
['1', 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)', 'female', '47', '1', '1', '11751', '52.5542']
['1', 'Behr, Mr. Karl Howell', 'male', '26', '0', '0', '111369', '30.0000']
['1', 'Bidois, Miss. Rosalie', 'female', '42', '0', '0', 'PC 17757', '227.5250']
['1', 'Bird, Miss. Ellen', 'female', '29', '0', '0', 'PC 17483', '221.7792']
['1', 'Birnbaum, Mr. Jakob', 'male', '25', '0', '0', '13905', '26.0000']
['1', 'Bishop, Mr. Dickinson H', 'male', '25', '1', '0', '11967', '91.0792']
['1', 'Bishop, Mrs. Dickinson H (Helen Walton)', 'female', '19', '1', '0', '11967', '91.0792']
['1', 'Bissette, Miss. Amelia', 'female', '35', '0', '0', 'PC 17760', '135.6333']
['1', 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'male', '28', '0', '0', '110564', '26.5500']
['1', 'Blackwell, Mr. Stephen Weart', 'male', '45', '0', '0', '113784', '35.5000']
['1', 'Blank, Mr. Henry', 'male', '40', '0', '0', '112277', '31.0000']
['1', 'Bonnell, Miss. Caroline', 'female', '30', '0', '0', '36928', '164.8667']
['1', 'Bonnell, Miss. Elizabeth', 'female', '58', '0', '0', '113783', '26.5500']
['1', 'Borebank, Mr. John James', 'male', '42', '0', '0', '110489', '26.5500']
['1', 'Bowen, Miss. Grace Scott', 'female', '45', '0', '0', 'PC 17608', '262.3750']
['1', 'Bowerman, Miss. Elsie Edith', 'female', '22', '0', '1', '113505', '55.0000']
['1', 'Bradley, Mr. George ("George Arthur Brayton")', 'male', '0', '0', '0', '111427', '26.5500']
['1', 'Brady, Mr. John Bertram', 'male', '41', '0', '0', '113054', '30.5000']
['1', 'Brandeis, Mr. Emil', 'male', '48', '0', '0', 'PC 17591', '50.4958']
['1', 'Brewe, Dr. Arthur Jackson', 'male', '0', '0', '0', '112379', '39.6000']
['1', 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', '44', '0', '0', 'PC 17610', '27.7208']
['1', 'Brown, Mrs. John Murray (Caroline Lane Lamson)', 'female', '59', '2', '0', '11769', '51.4792']
['1', 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', '60', '0', '0', '11813', '76.2917']
['1', 'Burns, Miss. Elizabeth Margaret', 'female', '41', '0', '0', '16966', '134.5000']
['1', 'Butt, Major. Archibald Willingham', 'male', '45', '0', '0', '113050', '26.5500']
['1', 'Cairns, Mr. Alexander', 'male', '0', '0', '0', '113798', '31.0000']
['1', 'Calderhead, Mr. Edward Pennington', 'male', '42', '0', '0', 'PC 17476', '26.2875']
['1', 'Candee, Mrs. Edward (Helen Churchill Hungerford)', 'female', '53', '0', '0', 'PC 17606', '27.4458']
['1', 'Cardeza, Mr. Thomas Drake Martinez', 'male', '36', '0', '1', 'PC 17755', '512.3292']
['1', 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)', 'female', '58', '0', '1', 'PC 17755', '512.3292']
['1', 'Carlsson, Mr. Frans Olof', 'male', '33', '0', '0', '695', '5.0000']
['1', 'Carrau, Mr. Francisco M', 'male', '28', '0', '0', '113059', '47.1000']
['1', 'Carrau, Mr. Jose Pedro', 'male', '17', '0', '0', '113059', '47.1000']
['1', 'Carter, Master. William Thornton II', 'male', '11', '1', '2', '113760', '120.0000']
['1', 'Carter, Miss. Lucile Polk', 'female', '14', '1', '2', '113760', '120.0000']
['1', 'Carter, Mr. William Ernest', 'male', '36', '1', '2', '113760', '120.0000']
['1', 'Carter, Mrs. William Ernest (Lucile Polk)', 'female', '36', '1', '2', '113760', '120.0000']
['1', 'Case, Mr. Howard Brown', 'male', '49', '0', '0', '19924', '26.0000']
['1', 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female', '0', '0', '0', '17770', '27.7208']
['1', 'Cavendish, Mr. Tyrell William', 'male', '36', '1', '0', '19877', '78.8500']
['1', 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', '76', '1', '0', '19877', '78.8500']
['1', 'Chaffee, Mr. Herbert Fuller', 'male', '46', '1', '0', 'W.E.P. 5734', '61.1750']
['1', 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', '47', '1', '0', 'W.E.P. 5734', '61.1750']
['1', 'Chambers, Mr. Norman Campbell', 'male', '27', '1', '0', '113806', '53.1000']
['1', 'Chambers, Mrs. Norman Campbell (Bertha Griggs)', 'female', '33', '1', '0', '113806', '53.1000']
['1', 'Chaudanson, Miss. Victorine', 'female', '36', '0', '0', 'PC 17608', '262.3750']
['1', 'Cherry, Miss. Gladys', 'female', '30', '0', '0', '110152', '86.5000']
['1', 'Chevre, Mr. Paul Romaine', 'male', '45', '0', '0', 'PC 17594', '29.7000']
['1', 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', '0', '0', '1', '113505', '55.0000']
['1', 'Chisholm, Mr. Roderick Robert Crispin', 'male', '0', '0', '0', '112051', '0.0000']
['1', 'Clark, Mr. Walter Miller', 'male', '27', '1', '0', '13508', '136.7792']
['1', 'Clark, Mrs. Walter Miller (Virginia McDowell)', 'female', '26', '1', '0', '13508', '136.7792']
['1', 'Cleaver, Miss. Alice', 'female', '22', '0', '0', '113781', '151.5500']
['1', 'Clifford, Mr. George Quincy', 'male', '0', '0', '0', '110465', '52.0000']
['1', 'Colley, Mr. Edward Pomeroy', 'male', '47', '0', '0', '5727', '25.5875']
['1', 'Compton, Miss. Sara Rebecca', 'female', '39', '1', '1', 'PC 17756', '83.1583']
['1', 'Compton, Mr. Alexander Taylor Jr', 'male', '37', '1', '1', 'PC 17756', '83.1583']
['1', 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', '64', '0', '2', 'PC 17756', '83.1583']
['1', 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', '55', '2', '0', '11770', '25.7000']
['1', 'Crafton, Mr. John Bertram', 'male', '0', '0', '0', '113791', '26.5500']
['1', 'Crosby, Capt. Edward Gifford', 'male', '70', '1', '1', 'WE/P 5735', '71.0000']
['1', 'Crosby, Miss. Harriet R', 'female', '36', '0', '2', 'WE/P 5735', '71.0000']
['1', 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)', 'female', '64', '1', '1', '112901', '26.5500']
['1', 'Cumings, Mr. John Bradley', 'male', '39', '1', '0', 'PC 17599', '71.2833']
['1', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', '38', '1', '0', 'PC 17599', '71.2833']
['1', 'Daly, Mr. Peter Denis ', 'male', '51', '0', '0', '113055', '26.5500']
['1', 'Daniel, Mr. Robert Williams', 'male', '27', '0', '0', '113804', '30.5000']
['1', 'Daniels, Miss. Sarah', 'female', '33', '0', '0', '113781', '151.5500']
['1', 'Davidson, Mr. Thornton', 'male', '31', '1', '0', 'F.C. 12750', '52.0000']
['1', 'Davidson, Mrs. Thornton (Orian Hays)', 'female', '27', '1', '2', 'F.C. 12750', '52.0000']
['1', 'Dick, Mr. Albert Adrian', 'male', '31', '1', '0', '17474', '57.0000']
['1', 'Dick, Mrs. Albert Adrian (Vera Gillespie)', 'female', '17', '1', '0', '17474', '57.0000']
['1', 'Dodge, Dr. Washington', 'male', '53', '1', '1', '33638', '81.8583']
['1', 'Dodge, Master. Washington', 'male', '4', '0', '2', '33638', '81.8583']
['1', 'Dodge, Mrs. Washington (Ruth Vidaver)', 'female', '54', '1', '1', '33638', '81.8583']
['1', 'Douglas, Mr. Walter Donald', 'male', '50', '1', '0', 'PC 17761', '106.4250']
['1', 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', '27', '1', '1', 'PC 17558', '247.5208']
['1', 'Douglas, Mrs. Walter Donald (Mahala Dutton)', 'female', '48', '1', '0', 'PC 17761', '106.4250']
['1', 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")', 'female', '48', '1', '0', '11755', '39.6000']
['1', 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")', 'male', '49', '1', '0', 'PC 17485', '56.9292']
['1', 'Dulles, Mr. William Crothers', 'male', '39', '0', '0', 'PC 17580', '29.7000']
['1', 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', '23', '0', '1', '11767', '83.1583']
['1', 'Endres, Miss. Caroline Louise', 'female', '38', '0', '0', 'PC 17757', '227.5250']
['1', 'Eustis, Miss. Elizabeth Mussey', 'female', '54', '1', '0', '36947', '78.2667']
['1', 'Evans, Miss. Edith Corse', 'female', '36', '0', '0', 'PC 17531', '31.6792']
['1', 'Farthing, Mr. John', 'male', '0', '0', '0', 'PC 17483', '221.7792']
['1', 'Flegenheim, Mrs. Alfred (Antoinette)', 'female', '0', '0', '0', 'PC 17598', '31.6833']
['1', 'Fleming, Miss. Margaret', 'female', '0', '0', '0', '17421', '110.8833']
['1', 'Flynn, Mr. John Irwin ("Irving")', 'male', '36', '0', '0', 'PC 17474', '26.3875']
['1', 'Foreman, Mr. Benjamin Laventall', 'male', '30', '0', '0', '113051', '27.7500']
['1', 'Fortune, Miss. Alice Elizabeth', 'female', '24', '3', '2', '19950', '263.0000']
['1', 'Fortune, Miss. Ethel Flora', 'female', '28', '3', '2', '19950', '263.0000']
['1', 'Fortune, Miss. Mabel Helen', 'female', '23', '3', '2', '19950', '263.0000']
['1', 'Fortune, Mr. Charles Alexander', 'male', '19', '3', '2', '19950', '263.0000']
['1', 'Fortune, Mr. Mark', 'male', '64', '1', '4', '19950', '263.0000']
['1', 'Fortune, Mrs. Mark (Mary McDougald)', 'female', '60', '1', '4', '19950', '263.0000']
['1', 'Francatelli, Miss. Laura Mabel', 'female', '30', '0', '0', 'PC 17485', '56.9292']
['1', 'Franklin, Mr. Thomas Parham', 'male', '0', '0', '0', '113778', '26.5500']
['1', 'Frauenthal, Dr. Henry William', 'male', '50', '2', '0', 'PC 17611', '133.6500']
['1', 'Frauenthal, Mr. Isaac Gerald', 'male', '43', '1', '0', '17765', '27.7208']
['1', 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'female', '0', '1', '0', 'PC 17611', '133.6500']
['1', 'Frolicher, Miss. Hedwig Margaritha', 'female', '22', '0', '2', '13568', '49.5000']
['1', 'Frolicher-Stehli, Mr. Maxmillian', 'male', '60', '1', '1', '13567', '79.2000']
['1', 'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)', 'female', '48', '1', '1', '13567', '79.2000']
['1', 'Fry, Mr. Richard', 'male', '0', '0', '0', '112058', '0.0000']
['1', 'Futrelle, Mr. Jacques Heath', 'male', '37', '1', '0', '113803', '53.1000']
['1', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', '35', '1', '0', '113803', '53.1000']
['1', 'Gee, Mr. Arthur H', 'male', '47', '0', '0', '111320', '38.5000']
['1', 'Geiger, Miss. Amalie', 'female', '35', '0', '0', '113503', '211.5000']
['1', 'Gibson, Miss. Dorothy Winifred', 'female', '22', '0', '1', '112378', '59.4000']
['1', 'Gibson, Mrs. Leonard (Pauline C Boeson)', 'female', '45', '0', '1', '112378', '59.4000']
['1', 'Giglio, Mr. Victor', 'male', '24', '0', '0', 'PC 17593', '79.2000']
['1', 'Goldenberg, Mr. Samuel L', 'male', '49', '1', '0', '17453', '89.1042']
['1', 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)', 'female', '0', '1', '0', '17453', '89.1042']
['1', 'Goldschmidt, Mr. George B', 'male', '71', '0', '0', 'PC 17754', '34.6542']
['1', 'Gracie, Col. Archibald IV', 'male', '53', '0', '0', '113780', '28.5000']
['1', 'Graham, Miss. Margaret Edith', 'female', '19', '0', '0', '112053', '30.0000']
['1', 'Graham, Mr. George Edward', 'male', '38', '0', '1', 'PC 17582', '153.4625']
['1', 'Graham, Mrs. William Thompson (Edith Junkins)', 'female', '58', '0', '1', 'PC 17582', '153.4625']
['1', 'Greenfield, Mr. William Bertram', 'male', '23', '0', '1', 'PC 17759', '63.3583']
['1', 'Greenfield, Mrs. Leo David (Blanche Strouse)', 'female', '45', '0', '1', 'PC 17759', '63.3583']
['1', 'Guggenheim, Mr. Benjamin', 'male', '46', '0', '0', 'PC 17593', '79.2000']
['1', 'Harder, Mr. George Achilles', 'male', '25', '1', '0', '11765', '55.4417']
['1', 'Harder, Mrs. George Achilles (Dorothy Annan)', 'female', '25', '1', '0', '11765', '55.4417']
['1', 'Harper, Mr. Henry Sleeper', 'male', '48', '1', '0', 'PC 17572', '76.7292']
['1', 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', '49', '1', '0', 'PC 17572', '76.7292']
['1', 'Harrington, Mr. Charles H', 'male', '0', '0', '0', '113796', '42.4000']
['1', 'Harris, Mr. Henry Birkhardt', 'male', '45', '1', '0', '36973', '83.4750']
['1', 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'female', '35', '1', '0', '36973', '83.4750']
['1', 'Harrison, Mr. William', 'male', '40', '0', '0', '112059', '0.0000']
['1', 'Hassab, Mr. Hammad', 'male', '27', '0', '0', 'PC 17572', '76.7292']
['1', 'Hawksford, Mr. Walter James', 'male', '0', '0', '0', '16988', '30.0000']
['1', 'Hays, Miss. Margaret Bechstein', 'female', '24', '0', '0', '11767', '83.1583']
['1', 'Hays, Mr. Charles Melville', 'male', '55', '1', '1', '12749', '93.5000']
['1', 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)', 'female', '52', '1', '1', '12749', '93.5000']
['1', 'Head, Mr. Christopher', 'male', '42', '0', '0', '113038', '42.5000']
['1', 'Hilliard, Mr. Herbert Henry', 'male', '0', '0', '0', '17463', '51.8625']
['1', 'Hipkins, Mr. William Edward', 'male', '55', '0', '0', '680', '50.0000']
['1', 'Hippach, Miss. Jean Gertrude', 'female', '16', '0', '1', '111361', '57.9792']
['1', 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'female', '44', '0', '1', '111361', '57.9792']
['1', 'Hogeboom, Mrs. John C (Anna Andrews)', 'female', '51', '1', '0', '13502', '77.9583']
['1', 'Holverson, Mr. Alexander Oskar', 'male', '42', '1', '0', '113789', '52.0000']
['1', 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'female', '35', '1', '0', '113789', '52.0000']
['1', 'Homer, Mr. Harry ("Mr E Haven")', 'male', '35', '0', '0', '111426', '26.5500']
['1', 'Hoyt, Mr. Frederick Maxfield', 'male', '38', '1', '0', '19943', '90.0000']
['1', 'Hoyt, Mr. William Fisher', 'male', '0', '0', '0', 'PC 17600', '30.6958']
['1', 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'female', '35', '1', '0', '19943', '90.0000']
['1', 'Icard, Miss. Amelie', 'female', '38', '0', '0', '113572', '80.0000']
['1', 'Isham, Miss. Ann Elizabeth', 'female', '50', '0', '0', 'PC 17595', '28.7125']
['1', 'Ismay, Mr. Joseph Bruce', 'male', '49', '0', '0', '112058', '0.0000']
['1', 'Jones, Mr. Charles Cresson', 'male', '46', '0', '0', '694', '26.0000']
['1', 'Julian, Mr. Henry Forbes', 'male', '50', '0', '0', '113044', '26.0000']
['1', 'Keeping, Mr. Edwin', 'male', '32.5', '0', '0', '113503', '211.5000']
['1', 'Kent, Mr. Edward Austin', 'male', '58', '0', '0', '11771', '29.7000']
['1', 'Kenyon, Mr. Frederick R', 'male', '41', '1', '0', '17464', '51.8625']
['1', 'Kenyon, Mrs. Frederick R (Marion)', 'female', '0', '1', '0', '17464', '51.8625']
['1', 'Kimball, Mr. Edwin Nelson Jr', 'male', '42', '1', '0', '11753', '52.5542']
['1', 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', '45', '1', '0', '11753', '52.5542']
['1', 'Klaber, Mr. Herman', 'male', '0', '0', '0', '113028', '26.5500']
['1', 'Kreuchen, Miss. Emilie', 'female', '39', '0', '0', '24160', '211.3375']
['1', 'Leader, Dr. Alice (Farnham)', 'female', '49', '0', '0', '17465', '25.9292']
['1', 'LeRoy, Miss. Bertha', 'female', '30', '0', '0', 'PC 17761', '106.4250']
['1', 'Lesurer, Mr. Gustave J', 'male', '35', '0', '0', 'PC 17755', '512.3292']
['1', 'Lewy, Mr. Ervin G', 'male', '0', '0', '0', 'PC 17612', '27.7208']
['1', 'Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Lingrey")', 'male', '42', '0', '0', '17475', '26.5500']
['1', 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 'female', '55', '0', '0', '112377', '27.7208']
['1', 'Lines, Miss. Mary Conover', 'female', '16', '0', '1', 'PC 17592', '39.4000']
['1', 'Lines, Mrs. Ernest H (Elizabeth Lindsey James)', 'female', '51', '0', '1', 'PC 17592', '39.4000']
['1', 'Long, Mr. Milton Clyde', 'male', '29', '0', '0', '113501', '30.0000']
['1', 'Longley, Miss. Gretchen Fiske', 'female', '21', '0', '0', '13502', '77.9583']
['1', 'Loring, Mr. Joseph Holland', 'male', '30', '0', '0', '113801', '45.5000']
['1', 'Lurette, Miss. Elise', 'female', '58', '0', '0', 'PC 17569', '146.5208']
['1', 'Madill, Miss. Georgette Alexandra', 'female', '15', '0', '1', '24160', '211.3375']
['1', 'Maguire, Mr. John Edward', 'male', '30', '0', '0', '110469', '26.0000']
['1', 'Maioni, Miss. Roberta', 'female', '16', '0', '0', '110152', '86.5000']
['1', 'Marechal, Mr. Pierre', 'male', '0', '0', '0', '11774', '29.7000']
['1', 'Marvin, Mr. Daniel Warner', 'male', '19', '1', '0', '113773', '53.1000']
['1', 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', '18', '1', '0', '113773', '53.1000']
['1', 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")', 'female', '24', '0', '0', 'PC 17482', '49.5042']
['1', 'McCaffry, Mr. Thomas Francis', 'male', '46', '0', '0', '13050', '75.2417']
['1', 'McCarthy, Mr. Timothy J', 'male', '54', '0', '0', '17463', '51.8625']
['1', 'McGough, Mr. James Robert', 'male', '36', '0', '0', 'PC 17473', '26.2875']
['1', 'Meyer, Mr. Edgar Joseph', 'male', '28', '1', '0', 'PC 17604', '82.1708']
['1', 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'female', '0', '1', '0', 'PC 17604', '82.1708']
['1', 'Millet, Mr. Francis Davis', 'male', '65', '0', '0', '13509', '26.5500']
['1', 'Minahan, Dr. William Edward', 'male', '44', '2', '0', '19928', '90.0000']
['1', 'Minahan, Miss. Daisy E', 'female', '33', '1', '0', '19928', '90.0000']
['1', 'Minahan, Mrs. William Edward (Lillian E Thorpe)', 'female', '37', '1', '0', '19928', '90.0000']
['1', 'Mock, Mr. Philipp Edmund', 'male', '30', '1', '0', '13236', '57.7500']
['1', 'Molson, Mr. Harry Markland', 'male', '55', '0', '0', '113787', '30.5000']
['1', 'Moore, Mr. Clarence Bloomfield', 'male', '47', '0', '0', '113796', '42.4000']
['1', 'Natsch, Mr. Charles H', 'male', '37', '0', '1', 'PC 17596', '29.7000']
['1', 'Newell, Miss. Madeleine', 'female', '31', '1', '0', '35273', '113.2750']
['1', 'Newell, Miss. Marjorie', 'female', '23', '1', '0', '35273', '113.2750']
['1', 'Newell, Mr. Arthur Webster', 'male', '58', '0', '2', '35273', '113.2750']
['1', 'Newsom, Miss. Helen Monypeny', 'female', '19', '0', '2', '11752', '26.2833']
['1', 'Nicholson, Mr. Arthur Ernest', 'male', '64', '0', '0', '693', '26.0000']
['1', 'Oliva y Ocana, Dona. Fermina', 'female', '39', '0', '0', 'PC 17758', '108.9000']
['1', 'Omont, Mr. Alfred Fernand', 'male', '0', '0', '0', 'F.C. 12998', '25.7417']
['1', 'Ostby, Miss. Helene Ragnhild', 'female', '22', '0', '1', '113509', '61.9792']
['1', 'Ostby, Mr. Engelhart Cornelius', 'male', '65', '0', '1', '113509', '61.9792']
['1', 'Ovies y Rodriguez, Mr. Servando', 'male', '28.5', '0', '0', 'PC 17562', '27.7208']
['1', 'Parr, Mr. William Henry Marsh', 'male', '0', '0', '0', '112052', '0.0000']
['1', 'Partner, Mr. Austen', 'male', '45.5', '0', '0', '113043', '28.5000']
['1', 'Payne, Mr. Vivian Ponsonby', 'male', '23', '0', '0', '12749', '93.5000']
['1', 'Pears, Mr. Thomas Clinton', 'male', '29', '1', '0', '113776', '66.6000']

In [2]:
# Preprocessing function
def preprocess(data, columns_to_ignore):
    # Sort by descending id and delete columns
    for id in sorted(columns_to_ignore, reverse=True):
        [r.pop(id) for r in data]
    for i in range(len(data)):
        # Converting 'sex' field to float (id is 1 after removing labels column)
        data[i][1] = 1. if data[i][1] == 'female' else 0.
    return np.array(data, dtype=np.float32)

# Ignore 'name' and 'ticket' columns (id 1 & 6 of data array)
to_ignore=[1, 6]

# Preprocess data
data = preprocess(data, to_ignore)

In [3]:
# Build neural network
net = tflearn.input_data(shape=[None, 6])
net = tflearn.fully_connected(net, 32)
net = tflearn.fully_connected(net, 32)
net = tflearn.fully_connected(net, 2, activation='softmax')
net = tflearn.regression(net)

# Define model
model = tflearn.DNN(net)
# Start training (apply gradient descent algorithm)
model.fit(data, labels, n_epoch=10, batch_size=16, show_metric=True)

# if this doesn't work, restart your notebook kernel!

Training Step: 819  | total loss: 0.52751 | time: 0.218s
| Adam | epoch: 010 | loss: 0.52751 - acc: 0.7620 -- iter: 1296/1309
Training Step: 820  | total loss: 0.52930 | time: 0.220s
| Adam | epoch: 010 | loss: 0.52930 - acc: 0.7546 -- iter: 1309/1309
--

In [4]:
# Let's create some data for DiCaprio and Winslet
dicaprio = [3, 'Jack Dawson', 'male', 19, 0, 0, 'N/A', 5.0000]
winslet = [1, 'Rose DeWitt Bukater', 'female', 17, 1, 2, 'N/A', 100.0000]
# Preprocess data
dicaprio, winslet = preprocess([dicaprio, winslet], to_ignore)
# Predict surviving chances (class 1 results)
pred = model.predict([dicaprio, winslet])
print("DiCaprio Surviving Rate:", pred[0][1])
print("Winslet Surviving Rate:", pred[1][1])

DiCaprio Surviving Rate: 0.142704
Winslet Surviving Rate: 0.859289

In [ ]:
# continue learning

In [ ]:
# If you have to use Tensorflow on CPUs, check this article by Intel:
# https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture

In [ ]:
# Want to meet Tensorflow developers?
# You are in luck, they are coming to Munich in a couple of weeks for a meetup (July 25):
# https://www.meetup.com/Hacking-Machine-Learning/events/240095377/